.btnClear {
    height: 60px;
    /* em es una unidad relativa, aquí va a ser
  1.6 veces el tamaño de la letra de su contenedor */
    font-size: 1.6rem;
    display: flex;
    flex: 1;
    background-color: #ac0246;
    background-color: #c64235;


    margin-top: 8px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 45px;
}

.btnClear:hover {
    background-color: #f16c18;
}